* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

.hero {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(45deg, #907c7c, #480048);
  display: flex;
  align-items: center;
  justify-content: center;
}

.calender {
  width: 300px;
  height: 250px;
  background: #fff;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.left,
.right {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 24px;
}

.right {
  width: 42%;
  background: #dd3c2a;
  color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.left {
  width: 58%;
}
#date {
  font-size: 100px;
  line-height: 90px;
}
