/* .container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #c4e7e7;
  border-radius: 8px;

}

h1 {
  text-align: center;
  color: #333;
}

 */

.container {
  margin: 0 auto;
  padding: 20px;
  width: 50%;
  box-sizing: border-box;
  max-width: 600px;
  background-color: rgb(163, 194, 183);
  border-radius: 8px;
}
h1 {
  color: rgb(5, 176, 255);
}
#input-task {
  color: blue;
  padding: 10px;
  font-size: 15px;
  border-radius: 6px;
}

button {
  color: brown;
  margin-left: 10px;
  font-size: 16px;
}

ul {
  justify-content: space-between;
  color: aliceblue;
  padding: 20px;
  justify-content: space-between;
  

}
